@media (max-width: 992px){
    .nav-a:hover::after{
        display: block;
    }
    .intro-text h1{
        font-size: 56px;
        line-height: 130%;
    }
    .intro-img img{
        max-width: 300px;
    }
    .press .row div:nth-child(4){
        display: inline;
    }
}


/* max width 768 md */
@media (max-width: 768px){
    .navbar-toggler{
        border: none;
    }
    .navbar{
        position: relative;
    }

    #navbarNav{
        max-width: 765px;
    }

    .navbar-collapse{
        background-color: #fff;
        -webkit-box-shadow: 0px 28px 32px -3px rgba(78,71,77,0.36); 
        box-shadow: 0px 28px 32px -3px rgba(78,71,77,0.36);
        border-bottom-left-radius: 20px;
        border-bottom-right-radius: 20px;
        border-top: none;
        height: 350px;
        position: absolute;
        top: 86px;
        left: 12px;
        width: 95%;
        z-index: 1;
    }
    .navbar li{
        display: flex;
        align-items: center;
        height: 87.5px; 
        border-bottom: 1px solid #eee;
    }
    .navbar li:nth-last-child(1){
        border: none;
    }
    .navbar-collapse a{
        color: #FF3998;
        font-size: 30px;
        width: 100%;
        height: 100%;
        display: flex;
        align-items: center;
    }
    .navbar-collapse li:hover{
        background-color: #FF3998;
        color: #fff;
    }
    .navbar-collapse li:nth-last-child(1):hover{
        border-bottom-left-radius: 20px;
        border-bottom-right-radius: 20px;
        background: linear-gradient(45deg, rgb(255, 57, 152) 9%, rgb(255, 129, 57) 81%, rgb(57, 255, 160));

    }
    .navbar-collapse a:hover{
        color: #fff;
    }
    .nav-a:hover::after{
        display: none;
    }
    .intro-text h1{
        font-size: 48px;
        line-height: 130%;
    }
    .intro-text{
        margin: 20px 0;
    }

    /*GRADIENT*/
    .gradient{
        margin-top: 100px;
    }

    /*PRESS*/

    .press .row div:nth-child(4){
        display: none;
    }
    
    .press .row div:nth-child(1), .press .row div:nth-child(2){
        margin-bottom: 30px;
    }

    .press .row div:nth-child(5){
        padding-top: 6px;
    }

    /*PREFOOTER*/
    .prefooter{
        position: relative;
        }
    .prefooter-text{
        margin-left: 32px;
    }
    .prefooter-text h1{
        font-size: 56px;
        line-height: 120%;
    }
    .prefooter-img img{
        padding-top: 125px;  
    }
    .prefooter-img{
        padding-top: 0;
    } 
    hr{
        margin: 0;
        }
    .prefooter .hr-2{
        margin-top: -10px;
    }
}



/* sm - устройства (до 576px) */
@media (max-width: 575px){
/* CSS для ширины, которая меньше 575px (включительно) */
    /*INTRO*/
   
    .intro-text h1{
        font-size: 48px;
        line-height: 110%;
    }
    .intro-text{
        margin: 32px;
        position: relative;
    }
    .intro-img{
        position: relative;
    }
    .intro-img img{
        width: 170px;
        position: absolute;
        top: -16px;
        left: -19px;
    }
    .intro-text div:nth-child(3){
        width: 320px;
    }
    .intro-text div:nth-child(2){
        width: 360px;
    }

    /*GRADIENT*/

    .gradient{
        margin-top: 50px;
    }
    .box-gradient{
        border-radius: 0;
    }

    /*PRESS*/
    .press .row div:nth-child(4){
        display: none;
    }
    .press .row div:nth-child(1) a{
        display: inline-block;
        overflow: hidden;
        width: 158px;
        padding-left: 20px;
    }
    
    .press .row div:nth-child(1), .press .row div:nth-child(2){
        margin-bottom: 20px;
    }
    
    /*PREFOOTER*/
    .prefooter{
        position: relative;
    }
    .prefooter-text{
        margin-left: 30px;
    }
    .prefooter-text h1{
        font-size: 56px;
        line-height: 120%;
    }
    .prefooter-text p{
        width: 80%;
        margin: 0;
    }
    .prefooter-img{
        padding-top: 170px;
        position: relative;
    } 
    .prefooter-img img{
        position: absolute;
        left: -45px;
    }
    hr, .hr-2{
        margin: 0;
    }
    .prefooter .hr-2{
        margin-top: 156px;
    }

    /*FOOTER*/
    .footer-bottom div:nth-child(2){
        display: none;
    }


}




  
 
  
 /* lg-устройства (больше или равно 992px)
  @media (min-width: 992px) {
    /* CSS для: 992px <= ширины <= 1119px */
    /* .intro-text h1{
        font-size: 86px;
        line-height: 125%;
    }
    .intro-img img{
        width: auto;
        max-width: 340px;
    }
    .prefooter-img img{
        padding-top: 65px;  
    }
  } */
  /* xl-устройства (больше или равно 1200px) */
  /* @media (min-width: 1200px) {
    /* CSS для: ширины >= 1200px */
    /* .intro-text h1{
        font-size: 96px;
        line-height: 116px;
    }
  }  */