*,
*:before,
*:after {
    box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6{
    margin: 0;
}

.flex{
    display: flex;
}

body{
    font-family: 'Inter';
    font-weight: 400;
    font-size: 20px;
    color: #555555;
    line-height: 100%;
}

p{
    margin: 0 auto;
    line-height: 150%;
}

/*Header*/


.nav-item{
    padding: 0 15px;
}

nav ul li{
    display: inline-block;
}

#navbarNav{
    max-width: fit-content;
}

nav a{
    text-decoration: none;
    color: #555555;
    
}

.nav-a{
    color: #FF3998;
    display: inline-block;
    white-space: nowrap;
}

.nav-a::after{
    display: none;
    content: "";
    background-color: #FF3998;
    width: 5.5%;
    height: 2px;
    color: #FF3998;
    margin-top: 3px;
    position: absolute;
}

.nav-a:hover::after{
    display: block;
}

nav ul a:hover{
    color: #FF3998;
}



.intro{
}

.intro-text{
}

.intro-text button{
    cursor: pointer;
    width: 180px;
    height: 75px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    color: #111;
    font-size: 20px;
    line-height: 150%;
    text-align: center;
    border-radius: 70px;
    border: 4px solid transparent;
    background: linear-gradient(#fff,#fff) padding-box, linear-gradient(45deg, rgb(255, 57, 152) 9%, rgb(255, 129, 57) 81%, rgb(57, 255, 160)) border-box;
}   

.intro-text button:hover{
    background: linear-gradient(45deg, rgb(255, 57, 152) 9%, rgb(255, 129, 57) 81%, rgb(57, 255, 160));
    border:none;
    color: #fff;
}

.intro-text h6{
    font-family: 'Inter';
    font-weight: 700;
    font-size: 16px;
    line-height: 19px;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    color: #FF3998;
}

.intro-text h1{
    font-family: 'Inter';
    font-weight: 900;
    font-size: 96px;
    line-height: 116px;
    color: #111;
}

.intro-text p{

}


/*Gradient Box*/

.gradient{
    margin-top: 150px;
}

.box-gradient{
    background: linear-gradient(45deg, rgb(255, 57, 152) 9%, rgb(255, 129, 57) 81%, rgb(57, 255, 160));
    border-radius: 20px;
    height: 300px;
}

.box-gradient h1{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 40px;
    color: #111;
    line-height: 50px;
}

.box-gradient p{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    color: #111;
    margin: 0;
}

/*Press*/

.press{

}

.press a:hover{
    cursor: pointer;
    filter: brightness(0) saturate(100%) invert(37%) sepia(50%) saturate(3606%) hue-rotate(309deg) brightness(100%) contrast(101%);
}

/*Showcase*/

.showcase{
}

.showcase-text h1{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 40px;
    color: #111;
}

.showcase-text p{

}

.showcase-text a{
    color: #555555;
}

.showcase-text a:hover{
    color: #FF3998;
}

/*Cards*/

.showcase-cards{
}

.cards{
    background: #EEEEEE;
    border: none;
    border-radius: 16px;
}

.cards:hover{ 
    box-shadow: 0px 0px 31px -1px #999;;
}

.cards-text-left h6{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    text-transform: uppercase;
    color: #FF8139;
}

.cards-text-left h5, .cards-text-right h5{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    color: #111;
}

.cards-text-left p, .cards-text-right p{
    font-size: 18px;
    
}

.cards-text-right h6{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    text-transform: uppercase;
    color: #777777;
}

.cards-text-right h5::before{
    content: url(../images/etherum.png);
    position: absolute;
    top: 4px;
    left: -20px;
}

.cards-text-left, .cards-text-right{
}

/*Pre Footer*/

hr{
    background-color: #adabab;
    border: none;
    height: 2px;
}

.prefooter-text{

}

.prefooter-img{

  }

.prefooter-text button{
    cursor: pointer;
    width: 180px;
    height: 75px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    color: #111;
    font-size: 20px;
    line-height: 150%;
    text-align: center;
    border-radius: 70px;
    border: 4px solid transparent;
    background: linear-gradient(#fff,#fff) padding-box, linear-gradient(45deg, rgb(255, 57, 152) 9%, rgb(255, 129, 57) 81%, rgb(57, 255, 160)) border-box;
}   

.prefooter-text button:hover{
    background: linear-gradient(45deg, rgb(255, 57, 152) 9%, rgb(255, 129, 57) 81%, rgb(57, 255, 160));
    border:none;
    color: #fff;
  }

.prefooter-text h6{
    font-family: 'Inter';
    font-weight: 700;
    font-size: 16px;
    line-height: 19px;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    color: #FF3998;
}

.prefooter-text h1{
    font-family: 'Inter';
    font-weight: 900;
    font-size: 56px;
    line-height: 116px;
    color: #111;
}

.prefooter-text p{
}

.prefooter hr{
    margin-top: -50px;
}

/*Footer */

.footer-top{

}

.footer-top-left, .footer-top-right{
}

.footer-top-left p{

}

.footer-icons{
    max-width: 230px;
}

.footer-top-right ul li:nth-child(1){
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    text-transform: uppercase;
    letter-spacing: 0.3em;
}

.footer-top-right a{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 300;
    font-size: 20px;
    text-decoration: none;
    color: #555555;
    padding-bottom: 10px;
}

/*Footer Bottom*/

.footer-bottom{

}

.footer-bottom p{
    color: #999999;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 300;
    font-size: 20px;
}
